.body{
    background-position: bottom;
}
img{
    width: 150px;
    height: 200px;
}
.rocket{
    position: absolute;
    bottom:0;
    transition: all 5s cubic-bezier(1, 0.08, 0, 1.19);
}
.rocket-1{
    left:30px;
}
.rocket-2{
    left:330px;
}
.rocket-3{
    left:630px;
}
/* ------------------------- */
.box{
    height: 150px;
    width: 150px;
    background: green;
    
}
/* 小遊戲 */
@keyframes fontbulger{
    0%{
        top:280px;
    }
    30%{
        top:420px;
    }
    100%{
        top:280px
    }
}
.boxgame{
    background: red;
    height: 15px;
    width: 15px;
    position: absolute;
}
.box1{
    top:280px;
    left:250px;
    animation: fontbulger 2s infinite;
}
.box2{
    top:280px;
    left:300px;
    animation: fontbulger 3s infinite;
}
.box3{
    top:280px;
    left:350px;
    animation: fontbulger 2.5s infinite;
}
.box4{
    top:280px;
    left:400px;
    animation: fontbulger 1.2s infinite;
}
.box5{
    top:280px;
    left:460px;
    animation: fontbulger 4s infinite;
}
.box6{
    top:280px;
    left:480px;
    animation: fontbulger 4s infinite;
}
/*網頁座標 - 了解 screen、page、client 箇中差異*/
#coordinates {
    font-size: 18px;
    color: red;
    height: 1000px;
  }


